<div class="col">
  <div class="photo">
    <img class="photo-asset" src="{{ STATIC_PATH }}/assets/photo01.jpg" alt="photo01">
    <span class="label">photo01</span>
  </div>
  <div class="photo">
    <img class="photo-asset" src="{{ STATIC_PATH }}/assets/photo02.jpg" alt="photo02">
    <span class="label">photo01</span>
  </div>
  <div class="photo">
    <img class="photo-asset" src="{{ STATIC_PATH }}/assets/photo03.jpg" alt="photo03">
    <span class="label">photo01</span>
  </div>
  <div class="photo">
    <img class="photo-asset" src="{{ STATIC_PATH }}/assets/photo04.jpg" alt="photo03">
    <span class="label">photo01</span>
  </div>
</div>
