<div id="modal" class="modal">
  <div class="modal-content">
    <img id="modal-img" class="modal-img" src="static/assets/photo01.jpg" alt="modal">
    <div id="modal-label" class="modal-label"></div>
    <div id="modal-loader" class="modal-loader">
      <div class="loader">Loading...</div>
    </div>
  </div>
</div>
