<div class="sidebar">
  <div class="title">
    Personal Blog
  </div>
  <div class="subtitle">
    Monde Duinkharjav
  </div>
  <div class="menu">
    <div class="menu-item {{#if active.blog}} active {{/if}}"><a href="/blog">Blog</a></div>
    <div class="tags {{#if active.blog}} visible {{/if}}">
      {{#each sidebar}}
        <a class="tag" href="/blog/{{this.id}}">Post {{this.id}}</a>
      {{/each}}
    </div>
    <div class="menu-item {{#if active.portfolio}} active {{/if}}"><a href="/portfolio">Photo Portfolio</a></div>
    <div class="tags {{#if active.portfolio}} visible {{/if}}">
      <a class="tag" href="#">landscape</a>
      <a class="tag" href="#">concepts</a>
      <a class="tag" href="#">lifestyle</a>
      <a class="tag" href="#">people</a>
      <a class="tag" href="#">memes</a>
    </div>
    <div class="menu-item {{#if active.about}} active {{/if}}"><a href="/about">About</a></div>
  </div>
  <div class="footer">
    <div class="media">
      <a href="https://github.com/budmonde" class="fa fa-github"></a>
      <a href="https://instagram.com/budmonde" class="fa fa-instagram"></a>
      <a href="https://fb.com/budmonde" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/in/budmonde-duinkharjav-896a46127" class="fa fa-linkedin"></a>
    </div>
    <div class="rights">
      &copy; 2017, All Rights Reserved.
    </div>
  </div>
</div>
